@import url('__item/cards__item.css');
@import url('__circle/cards__circle.css');
@import url('__picture/cards__picture.css');
@import url('__title/cards__title.css');
@import url('__paragraph/cards__paragraph.css');
@import url('__link/cards__link.css');

.cards {
  height: 1162px;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px 20px;
  margin: 0;
  padding: 0;
  position: relative;
  top: -138px;
}
