.footer__menu {
  width: var(--section-size);
  height: 318px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: flex-start;
  gap: 0 90px;
  margin: 0 auto;
  padding-top: 96px;
  position: relative;
}
