@font-face {
  font-family: "Galien";
  src: url(./Galien/Galien-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  src: url(./Gilroy/gilroy-regular.ttf) format('truetype');
}

/* @font-face {
  font-family: 'Gilroy';
  font-style: bold;
  src: url(./Gilroy/gilroy-semibold.ttf) format('truetype');
} */
