.footer {
  background: var(--blue);
  position: relative;
  padding: 91px 0 64px;
}

.footer::before {
  content: "";
  position: absolute;
  width: 93%;
  top: 0;
  bottom: 0;
  background-color: var(--dark-blue);
  border-radius: 0px 200px 0px 0px;
}
